.layout-sidebar {
    width: $sidebar-width;
    padding: $padding 0;
    height: 100vh;
    background: #0062ab;
    position: fixed;
    z-index: 10;

    .logoMilk {
        display: block;
        width: 250px;
        text-align: center;
    }

    .logoMilk img{
        max-width: 190px;
    }

    .menu-button {
        color: #fff;
        font-size: 30px;
        height: 48px;
        line-height: 48px;
        position: absolute;
        left: $padding;
        top: 12px;
        display: none;
        background:none;
        border:0;
        cursor: pointer;
    }

    &-navigation {
        position: relative;
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        a {
            display:block;
            color:#FFF;
            font-size:20px;
            padding: 20px 30px;
            font-weight: 300;
            background:#1684d7;
            border-radius: 6px;
            margin: 10px 10px;
            transition: all 0.2s ease-in;

            &:hover {
                background:#fff;
                color:#1684d7;
            }

            &.active {
                background: #222b38;
            }

            svg {
                width: 1em;
                height: 1em;
                vert-align:middle;
                display:inline-block;
                margin: 0 10px 0 0;
            }
        }
    }
}


@media only screen and (max-width: $breakpoint-768) {
    .layout-sidebar {
        width: 100vw;
        padding-top: 100px;

        &-navigation {
            width: $sidebar-width;
        }

        .menu-button {
            display: block;
        }

        .logo {
            position: absolute;
            left: 50vw;
            margin-left: -60px;
            width: 120px;
            top: 20px;
        }
    }
}