.tankirane_container {
    text-align: center;
    font-size: 1.1em;

    .breakdown {
        margin-top:20px;
        display:flex;
        justify-content: space-evenly;

        & > * {
            flex: 1;
            border: 1px solid #ccc;
            padding: 5px;

            &:not(:first-child) {
                border-left: 0;
            }

            strong {
                display:block;
                margin-bottom:5px;
            }
        }
    }
}