@mixin boxShadow {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

@mixin visuallyHidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}